{% load i18n %}
{% load currency %}
<h1>{% trans 'Hi, I am talha jubair' %}</h1>
<h1>{% trans 'How are you' %}</h1>

<br>
<form id="currency_switcher" method="POST" action="{% url "selectcurrency" %}">{% csrf_token %}
  <select name="currency" onchange="$('#currency_switcher').submit()">
    {% for curr in CURRENCIES %}
      <option value="{{ curr.code }}" {% ifequal curr.code request.session.currency %}selected="selected"{% endifequal %}>
        {{ curr.symbol }} {{ curr.name }}
      </option>
    {% endfor %}
  </select>
    <input type="submit" value="Set" />

  {% comment %} <noscript>
    <input type="submit" value="Set" />
  </noscript> {% endcomment %}
</form>

<p>currency name {{ request.session.currency }}</p>
<br><br>

<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go">
</form>

<ul>
    {% for post in posts %}
        <li>{{ post.text }}</li>
        <li>{{ post.discription }}</li>
        
        <li>{{ post.price|currency:request.session.currency }} {{request.session.currency}}</li>
     


    {% endfor %}
</ul>
<br><br>


<br><br>


<form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
    <ul class="nav navbar-nav navbar-right language menu">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <li>
                <button type="submit"
                        name="language"
                        value="{{ language.code }}"
                        class="{% if language.code == LANGUAGE_CODE %}selected{% endif %}">
                    {{ language.name_local }}
                </button>
            </li>
        {% endfor %}
    </ul>
</form>